@{
    ViewBag.Title = "Index";
    var usuarios = ViewBag.Usuarios as List<Sistema_Inmobiliaria.Models.usuarios>;
    var usuario = ViewBag.Usuario as Sistema_Inmobiliaria.Models.usuarios;
    var roles = ViewBag.Roles as List<Sistema_Inmobiliaria.Models.roles>;
}

<style>
    .icon-white {
        color: white !important;
    }

    .container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
</style>

<br />
<center><h2>Gestionar Usuarios</h2></center>

<div class="container">
    @using (Html.BeginForm("Guardar", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => usuario.codusuario)
        <div class="form-group">
            @Html.LabelFor(m => usuario.dni)
            @Html.TextBoxFor(m => usuario.dni, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.dni)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.nombre)
            @Html.TextBoxFor(m => usuario.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.nombre)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.apellido)
            @Html.TextBoxFor(m => usuario.apellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.apellido)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.email)
            @Html.TextBoxFor(m => usuario.email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.clave)
            @Html.TextBoxFor(m => usuario.clave, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.clave)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.direccion)
            @Html.TextBoxFor(m => usuario.direccion, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.direccion)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.telefono)
            @Html.TextBoxFor(m => usuario.telefono, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.telefono)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => usuario.codrol)
            @Html.DropDownListFor(m => usuario.codrol, new SelectList(roles, "codrol", "descripcion"), "Seleccione un Rol", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => usuario.codrol)
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    }

    <h2 class="card-header"><a href="~/Usuarios/AgregarEditar/" class="btn btn-secondary">Nuevo Usuario</a> <br /><br /></h2>

    <table id="DatatableP" class="table">
        <thead>
            <tr>
                <th style="width:30px">Id</th>
                <th style="width:80px">DNI</th>
                <th style="width:150px">Nombre</th>
                <th style="width:30px">Email</th>
                <th style="width:100px">Direccion</th>
                <th style="width:100px">Telefono</th>
                <th style="width:50px">Rol</th>
                <th style="width:250px">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in usuarios)
            {
                <tr>
                    <td>@(m.codusuario)</td>
                    <td>@(m.dni)</td>
                    <td>@(m.nombre + " " + m.apellido)</td>
                    <td>@(m.email)</td>
                    <td>@(m.direccion)</td>
                    <td>@(m.telefono)</td>
                    <td>@(m.roles.descripcion)</td>
                    <td>
                        <a href="~/Usuarios/Index?id=@m.codusuario" class="btn btn-sm btn-warning">
                            <i class="fa-solid fa-pen-to-square icon-white"></i>
                        </a>
                        <a onclick="return confirm('¿Esta seguro de eliminar el registro?');" href="~/Usuarios/Eliminar/@m.codusuario" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash icon-white"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>









@*@model List<Sistema_Inmobiliaria.Models.usuarios>
    @{
        ViewBag.Title = "Index";
    }

    <style>
        .icon-white {
            color: white !important;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
    </style>

    <br />
    <center><h2>Gestionar Usuarios</h2></center>
    <h2 class="card-header"><a href="~/Usuarios/AgregarEditar/" class="btn btn-secondary">Nuevo Usuario</a> <br /><br /></h2>
    @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post))
    {

    }
    <br />
    <div class="container">

        <table id="DatatableP" class="table">
            <thead>
                <tr>
                    <th style="width:30px">Id</th>
                    <th style="width:80px">DNI</th>
                    <th style="width:150px">Nombre</th>
                    <th style="width:30px">Email</th>
                    <th style="width:100px">Direccion</th>
                    <th style="width:100px">Telefono</th>
                    <th style="width:50px">Rol</th>
                    <th style="width:250px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@(m.codusuario)</td>
                        <td>@(m.dni)</td>
                        <td>@(m.nombre + " " + m.apellido)</td>
                        <td>@(m.email)</td>
                        <td>@(m.direccion)</td>
                        <td>@(m.telefono)</td>
                        <td>@(m.roles.descripcion)</td>
                        <td>
                            <a href="~/Usuarios/Visualizar/@m.codusuario" class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-eye icon-white"></i>
                            </a>
                            <a href="~/Usuarios/AgregarEditar/@m.codusuario" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-pen-to-square icon-white"></i>
                            </a>
                            <a onclick="return confirm('¿Esta seguro de eliminar el registro?');" href="~/Usuarios/Eliminar/@m.codusuario" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash icon-white"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>*@
