@model Sistema_Inmobiliaria.Models.usuarios

@{
    ViewBag.Title = "Visualizar Usuario";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .profile-container {
        background-color: #c5decc; /* Color de fondo */
        padding: 30px;
        border-radius: 15px;
        color: black;
        max-width: 900px;
        margin: auto;
    }

    .profile-img-container {
        position: relative;
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-details {
        text-align: left;
    }

        .profile-details dt {
            font-weight: bold;
            margin-top: 10px;
        }

        .profile-details dd {
            margin-bottom: 10px;
        }

    .info-section {
        margin-top: 20px;
    }

        .info-section h4 {
            border-bottom: 1px solid white;
            padding-bottom: 5px;
            margin-bottom: 10px;
            font-weight: bold;
            color: black; 
        }

        .info-section p {
            margin-bottom: 10px;
        }

    .back-button {
        margin-top: 20px;
        text-align: right;
    }
</style>

<div class="container mt-5">
    <div class="profile-container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="profile-img-container">
                    <img src="@Url.Content(String.IsNullOrEmpty(Model.foto) ? "~/Images/Usuarios/default-user.jpg" : Model.foto)" class="profile-img" alt="Foto del usuario" />
                </div>
            </div>
            <div class="col-md-8">
                <h1>@Model.nombre @Model.apellido</h1>
                <h4>@Model.roles.descripcion</h4>

                <div class="row profile-details">
                    <dl class="col-sm-6">
                        <dt>ID:</dt>
                        <dd>@Model.codusuario</dd>

                        <dt>DNI:</dt>
                        <dd>@Model.dni</dd>

                        <dt>Email:</dt>
                        <dd>@Model.email</dd>

                        <dt>Teléfono:</dt>
                        <dd>@Model.telefono</dd>
                    </dl>
                    <dl class="col-sm-6">
                        <dt>Dirección:</dt>
                        <dd>@Model.direccion</dd>
                    </dl>
                </div>

                <div class="back-button">
                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-light">Regresar al índice</a>
                </div>
            </div>
        </div>
    </div>
</div>
