@model IEnumerable<Sistema_Inmobiliaria.Models.inmuebles>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Terrenos en Venta</title>
    <link href="~/Content/css/catalogo.css" rel="stylesheet" />
    <link href="~/Content/css/index-estilo.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Encabezado")

    <div class="container">
        <h2>Terrenos en Venta</h2>
        <div class="row">
            @foreach (var terreno in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="single-product">
                        <div class="part-1">
                            <a href="@Url.Action("Detalles", "Inmuebles", new { id = terreno.idinmueble })">
                                <img src="~/Content/img/@terreno.imagen" class="imagen_forma" alt="...">
                            </a>
                        </div>
                        <div class="part-2">
                            <a href="@Url.Action("Detalles", "Inmuebles", new { id = terreno.idinmueble })">
                                <h4 class="info">@terreno.titulo</h4>
                            </a>
                            <br>
                            <h4 class="info">@terreno.precio</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @Html.Partial("PiePagina")
</body>
</html>

