@model Sistema_Inmobiliaria.Models.roles
@{ ViewBag.Title = (Model.codrol > 0 ? Model.descripcion : "Nuevo Registro");
                List<Sistema_Inmobiliaria.Models.roles> roles = ViewBag.roles; }

<h2>Agregar / Editar</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Roles/Index">Roles</a></li>
        <li class="breadcrumb-item active">@(Model.codrol > 0 ? Model.descripcion : "Nuevo Registro")</li>
    </ol>
</nav>

@using (Html.BeginForm("Guardar", "Roles", FormMethod.Post))
{
    @Html.HiddenFor(x => x.codrol)
    <div class="card">  
        <div class="card-header">Informacion de Rol</div>
        <div class="card-body">
           <div class="form-control">
               @Html.LabelFor(x => x.codrol)
               @Html.TextBoxFor(x => x.codrol, new { @class = "form-control", disabled = true })
           </div>
           <div class="form-control">
               @Html.LabelFor(x => x.descripcion)
               @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
           </div>

        </div>
    </div>
    <br /><br />
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="~/Usuario" class="btn btn-danger">Cancelar</a>
    </div>
    <br /><br />
}